In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import math 
import missingno as msno
import numpy as np

In [32]:
df_cust = pd.read_csv("/Users/noahbonekamp/Desktop/kunden.csv", sep=";")
df_vis = pd.read_csv("/Users/noahbonekamp/Desktop/besucher.csv", sep=";")
df_geo = pd.read_csv("/Users/noahbonekamp/Desktop/geo_test.csv", delimiter=";")

In [33]:
df_geo['Niederlassung']= df_geo['Niederlassung'].astype(str)
df_geo['Niederlassung'] = df_geo['Niederlassung'].str.title()
mapping = {
    'Berlin-Mitte': 'Berlin',
    'Berlin-Charlottenburg': 'Berlin',
    'Nrw': 'Nordrein-Westfalen',
    'Düsseldorf': 'Nordrein-Westfalen'
}
df_geo['Niederlassung'] = df_geo['Niederlassung'].replace(mapping, regex=True)

In [34]:
uniques = list(df_geo['Niederlassung'].unique())
print(uniques)
print(df_geo['Niederlassung'].nunique())

['Sachsen', 'Nordrein-Westfalen', 'Hessen', 'Bayern', 'Baden-Württemberg', 'Nordrhein-Westfalen', 'Berlin', 'Niedersachsen', 'Brandenburg', 'Thüringen', 'Hamburg']
11

In [35]:
cust_m = pd.merge(df_cust, df_geo, how='left', on='KundeNr')
vis_m = pd.merge(df_vis, df_geo, how='left', on='KundeNr')

In [36]:
cust_m.describe().T

,count,mean,std,min,25%,50%,75%,max
Alter,1104.0,50.481884,12.225059,30.00,40.0000,51.000,61.000,120.00
Preis,1104.0,88975.198714,24464.067781,21471.65,70609.4225,88931.455,107093.375,165482.31
Geschlecht,1099.0,0.637853,0.480840,0.00,0.0000,1.000,1.000,1.00
Zeit,1104.0,44.375906,10.848040,12.00,37.0000,44.000,52.000,80.00

In [37]:
vis_m.describe().T

            count       mean        std   min   25%   50%   75%   max
Alter       891.0  49.881033  11.865889  30.0  40.0  49.0  60.0  70.0
Geschlecht  891.0   0.578002   0.494156   0.0   0.0   1.0   1.0   1.0
Zeit        891.0  35.166105  10.476802   3.0  28.0  35.0  43.0  68.0